@use 'variables' as var;

@mixin section-title {
  font-size: 4rem;
  color: #fff;

  span {
    color: var.$green;
  }
}

@mixin product-text {
  max-width: 400px;
  color: var.$legend;
  line-height: 2rem;
  font-size: 1.3rem;
  padding: 1.7rem 0;
}
