@use '../helpers/variables' as var;
@use '../helpers/mixins';

#main {
  .console {
    color: var.$white;

    &__title {
      @include mixins.section-title;
      padding: 5rem 0;
      max-width: 800px;
      margin: auto;
      text-align: center;
    }

    .dreams {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5rem;
      background: url(../img/dreams.png);
      min-height: 750px;

      &__title {
        @include mixins.section-title;
        max-width: 450px;
      }

      &__text {
        @include mixins.product-text;
      }

      &__link {
        text-transform: uppercase;
        font-weight: bold;
        color: var.$green;
        letter-spacing: 0.2rem;
        transition: 0.5s;

        &:hover {
          text-shadow: 0 0 20px rgba(155, 240, 11, 0.5);
        }
      }
    }

    .optimized {
      display: flex;
      align-items: center;
      padding: 0 4rem;
      background: url(../img/optimized.png);
      margin: 5rem 0;
      min-height: 750px;

      &__title {
        @include mixins.section-title;
      }

      &__text {
        @include mixins.product-text;
      }

      &__games {
        display: grid;
        grid-template-areas:
          'cyberpunk mediumn'
          'cyberpunk assassins';
        row-gap: 85px;
        animation: show-down 2.5s infinite;

        &--medium {
          grid-area: mediumn;
        }

        &--cyberpunk {
          position: relative;
          top: 70px;
          left: 50px;
          grid-area: cyberpunk;
          z-index: 2;
        }

        &--assassins {
          position: relative;
          left: -25px;
          grid-area: assassins;
        }
      }
    }

    .control {
      position: relative;
      text-align: center;
      &__title {
        @include mixins.section-title;
      }

      &__text {
        @include mixins.product-text;
        position: absolute;
        left: 60%;
        text-align: left;
        width: 380px;
      }

      &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 5rem 0;

        &--full,
        &--crop,
        &--button,
        &--info {
          overflow: hidden;
          height: 702px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &--crop {
          margin-top: 200px;
          position: relative;

          img {
            transform: translate3d(-50.5%, 0px, 0px);
            width: 1200px;
          }
        }

        &--button {
          position: relative;
          top: -200px;
        }

        &--info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 3rem;
          color: var.$black;
          text-align: left;
          overflow: hidden;
          background: linear-gradient(
            155.3deg,
            #92e10b 1.33%,
            #baff43 46.46%,
            #588c00 92.54%
          );

          .info__title {
            font-size: 3rem;
            max-width: 430px;
          }

          .info__text {
            font-size: 1.5rem;
            padding: 2rem 0;
            font-weight: 600;
            max-width: 430px;
            opacity: 0.6;
          }

          img {
            max-width: 514px;
            max-height: 130px;
            transition: 0.7s;

            &:hover {
              position: relative;
              transform: translateX(170px);
            }
          }
        }
      }
    }

    .tech {
      padding: 5rem 0;
      height: 1100px;

      &__title {
        @include mixins.section-title;
        max-width: 200px;
      }

      &__text {
        @include mixins.product-text;
        max-width: 390px;
      }

      &__components {
        position: relative;
        top: -300px;
        img {
          width: 100%;
        }

        &--btn {
          position: absolute;
          display: block;
          color: var.$black;
          background: var.$green;
          cursor: pointer;
          text-align: center;
          margin-top: 2rem;
          border-radius: 100%;
          font-size: 2rem;
          width: 40px;
          height: 40px;

          &:hover {
            transition: 0.5s;
            box-shadow: 0 0 20px rgba(155, 240, 11, 0.5);
          }
        }

        &--fan {
          top: 10%;
          left: 63%;
        }

        &--cpu {
          top: 31%;
          left: 63%;
        }

        &--mobo {
          top: 45%;
          left: 41%;
        }

        &--entry {
          top: 46%;
          left: 23%;
        }
      }
    }

    .price {
      position: relative;
      text-align: center;
      &__title {
        @include mixins.section-title;
      }

      &__value {
        font-size: 2rem;
        padding: 1rem 0;
      }

      &__text {
        color: var.$green;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }

      &__blur {
        position: absolute;
        bottom: 120px;
        width: 100%;
        height: 400px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(134, 207, 9, 0.345313) 20.31%,
          rgba(155, 240, 11, 0.4) 23.53%,
          rgba(0, 219, 0, 0.4) 35.42%,
          rgba(0, 123, 0, 0.4) 40.62%,
          rgba(0, 132, 0, 0.4) 49.51%
        );
        opacity: 0.7;
        border: 1px solid #000000;
        filter: blur(250px);
        z-index: -1;
        animation: pulse 3s infinite;
      }

      img {
        width: 100%;
      }
    }
  }
}

@keyframes show-down {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.6;
  }

  80% {
    oopacity: 0.4;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}
